<!-- ========== ADVANTAGES ========== -->
<section class="section proposal">
  <div class="container proposal-container-mod">
    <div class="proposal-container">
      <h2 class="visually-hidden">Advantages</h2>
      <h3 class="proposal-title">
        Master the <span class="proposal-high-title">Language</span>
        with Our English Package!
      </h3>
      <div class="proposal-content-wrapper">
        <div class="proposal-content">
          <h4 class="proposal-caption">Power of English</h4>
          <ul class="proposal-list">
            <li class="proposal-item">
              <div class="proposal-block">
                <svg class="proposal-icon">
                  <use class="proposal-check-mobile" href="./images/icons.svg#check-1"></use>
                  <use class="proposal-check-tablet" href="./images/icons.svg#check"></use>
                </svg>
              </div>
              <p class="proposal-paragraph">
                Dive into captivating lessons designed to stimulate your
                curiosity.
              </p>
            </li>
            <li class="proposal-item">
              <div class="proposal-block">
                <svg class="proposal-icon">
                  <use class="proposal-check-mobile" href="./images/icons.svg#check-1"></use>
                  <use class="proposal-check-tablet" href="./images/icons.svg#check"></use>
                </svg>
              </div>
              <p class="proposal-paragraph">
                Learn in a nurturing setting where every student's progress
                matters.
              </p>
            </li>
            <li class="proposal-item">
              <div class="proposal-block">
                <svg class="proposal-icon">
                  <use class="proposal-check-mobile" href="./images/icons.svg#check-1"></use>
                  <use class="proposal-check-tablet" href="./images/icons.svg#check"></use>
                </svg>
              </div>
              <p class="proposal-paragraph">
                Experience the satisfaction of real progress as your language
                skills and confidence grow with every session.
              </p>
            </li>
          </ul>
          <picture>
            <!-- desktop -->
            <source type="image/avif" srcset="./images/books/books.avif 1x, ./images/books/books@2x.avif 2x">
            <!-- tablet -->
            <source type="image/webp" srcset="./images/books/books.webp 1x, ./images/books/books@2x.webp 2x">
            <!-- mobile -->
            <img class="proposal-image" src="./images/books/books.png" srcset="./images/books/books@2x.png 2x"
              alt="Stack of English books" width="214" height="264" loading="lazy" />
          </picture>
          <a href="#application" class="btn btn-proposal"> Leave an application </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========== /ADVANTAGES ========== -->