<!-- ========== APPLICATION ========== -->
<section class="section">
  <div class="container">
    <h2 class="section-title">Leave an application</h2>
    <p class="application-subtitle">Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.   
    </p>
    <div class="application-card">
      <div class="application-card-left">
        <!-- <div class="application-card-left__bg"></div> -->
        <img class="application-left-img" src="./images/application/bg-application-desktop.png" alt="">
        <p class="application-left-first-sub">1000</p>
        <p class="application-left-second-sub">of our online English language lessons! This journey has been full of discovery, growth and unforgettable moments, and
        we are happy to share this joyful event with you.
      </p>
      </div>
      <div class="application-card-right">
        <form class="application-right-form">
          <div class="application-first-container-form">
            <input class="application-right-input" type="text" placeholder="Name" required minlength="3">
            <input class="application-right-input" type="email" placeholder="Email" required>
            <input class="application-right-input" type="tel" placeholder="Phone" required minlength="9">
            <textarea class="application-right-textarea" name="user_comment" id="" placeholder="Comment"></textarea>
          </div>
          <fieldset class="application-right-fieldset">
            <legend class="application-choose-title">Choose a teacher</legend>
            <label class="application-custom-radio">
              <input type="radio" name="option" value="1">
              <span class="application-radio-btn"></span>
              <span class="application-radio-choose">Maria</span>
            </label>
            <label class="application-custom-radio">
              <input type="radio" name="option" value="2">
              <span class="application-radio-btn"></span>
              <span class="application-radio-choose">Artem</span>
            </label>
            <label class="application-custom-radio">
              <input type="radio" name="option" value="2">
              <span class="application-radio-btn"></span>
              <span class="application-radio-choose">Ilona</span>
            </label>
            <label class="application-custom-radio">
              <input type="radio" name="option" value="2">
              <span class="application-radio-btn"></span>
              <span class="application-radio-choose">Volodymyr</span>
            </label>
          </fieldset>
          <button class="application-right-btn" type="submit">Send</button>
            <p class="application-sub-agreement">By clicking on “Send” button, you agree to our 
          <a class="application-link-agreement" href="">Privacy Policy</a>,
          <span class="application-span-agreement">and allow Promodo to use this information for marketing purposes.</span></p>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- ========== /APPLICATION ========== -->