<!-- ========== HEADER ========== -->
<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="logo" href="./index.html">english<span class="logo-part">excellence</span>. </a>



      <ul class="nav-list">

        <li class="nav-item">
          <a class="nav-link" href="id=">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="id=">Our lessons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="id=">Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="id=">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="id=">Contact us</a>
        </li>
      </ul>

    </nav>

    <button class="burger-btn" type="button" data-mobile-menu-open>
      <svg class="burger-icon" width="32" height="32">
        <use href="./images/icons.svg#burger-small" />
      </svg>
    </button>

    <button class="burger-btn-big" type="button" data-mobile-menu-open>
      <svg class="burger-icon" width="40" height="28">
        <use href="./images/icons.svg#burger-big" />
      </svg>
    </button>


    <ul class="social">

      <li class="social-item">
        <a class="icon-item" href="https://www.facebook.com/">
          <svg class="icon" width="28" height="28">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>

      <li class="social-item">
        <a class="icon-item" href="https://www.instagram.com/">
          <svg class="icon" width="28" height="28">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>

      <li class="social-item">
        <a class="icon-item" href="https://www.youtube.com/">
          <svg class="icon" width="28" height="28">
            <use href="./images/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

  </div>
</header>
<!-- ========== /HEADER ========== -->