<!-- ========== HEADER ========== -->
<header class="header">
  <div class="container">
    <div class="container-header">
      <nav class="header-nav">
        <a class="logo-header" href="./index.html">english<span class="logo-part-header">excellence</span>. </a>



        <ul class="nav-list-header">

          <li class="nav-item-header">
            <a class="nav-link-header current" href="./about-us.html">About us</a>
          </li>
          <li class="nav-item-header">
            <a class="nav-link-header" href="./lessons.html">Our lessons</a>
          </li>
          <li class="nav-item-header">
            <a class="nav-link-header" href="./teachers.html">Teachers</a>
          </li>
          <li class="nav-item-header">
            <a class="nav-link-header" href="./reviews.html">Reviews</a>
          </li>
          <li class="nav-item-header">
            <a class="nav-link-header" href="./application.html">Contact us</a>
          </li>
        </ul>

      </nav>

      <button class="burger-btn" type="button" data-mobile-menu-open>
        <svg class="burger-icon">
          <use class="burger-icon-mobile" href="./images/icons.svg#burger-small" />
          <use class="burger-icon-tablet" href="./images/icons.svg#burger-big" />
        </svg>
      </button>


      <ul class="social-header">

        <li class="social-item-header">
          <a class="icon-item-header" href="https://www.facebook.com/goITclub/">
            <svg class="icon-header" width="28" height="28">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>

        <li class="social-item-header">
          <a class="icon-item-header" href="https://www.instagram.com/goitclub/">
            <svg class="icon-header" width="28" height="28">
              <use href="./images/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>

        <li class="social-item-header">
          <a class="icon-item-header" href="https://www.youtube.com/c/GoIT/">
            <svg class="icon-header" width="28" height="28">
              <use href="./images/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- ========== /HEADER ========== -->