<!-- ========== HERO ========== -->
<section id="hero" class="section hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">
      Discover the joy of learning <span>English</span> with us!
    </h1>
    <a href="#application" class="btn">Leave an application</a>
  </div>

  <a href="#footer" class="btn-nav-down" aria-label="Scroll down">
    <svg class="icon">
      <use href="./images/icons.svg#arrow"></use>
    </svg>
  </a>
</section>
<!-- ========== /HERO ========== -->
