<!-- ========== MOBILE MENU ========== -->
<div class="mobile-menu" data-mobile-menu>

  <div class="mobile-menu-container">

    <button class="mobile-menu-close-btn" type="button" data-mobile-menu-open>
      <svg class="close-mobile" width="40" height="40">
        <use href="./images/icons.svg#close" />
      </svg>
    </button>

    <ul class="nav-list-mobile">

      <li class="nav-item-mobile">
        <a class="nav-link-mobile" href="./about-us.html">About us</a>
      </li>
      <li class="nav-item-mobile">
        <a class="nav-link-mobile" href="./lessons.html">Our lessons</a>
      </li>
      <li class="nav-item-mobile">
        <a class="nav-lin-mobilek" href="./teachers.html">Teachers</a>
      </li>
      <li class="nav-item-mobile">
        <a class="nav-link-mobile" href="./reviews.html">Reviews</a>
      </li>
      <li class="nav-item-mobile">
        <a class="nav-link-mobile" href="./application.html">Contact us</a>
      </li>
    </ul>
    </nav>



    <ul class="social-mobile">

      <li class="social-item-mobile">
        <a class="icon-item-mobile" href="https://www.facebook.com/goITclub/">
          <svg class="icon" width="28" height="28">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>

      <li class="social-item-mobile">
        <a class="icon-item-mobile" href="https://www.instagram.com/goitclub/">
          <svg class="icon" width="28" height="28">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>

      <li class="social-item-mobile">
        <a class="icon-item-mobile" href="https://www.youtube.com/c/GoIT/">
          <svg class="icon" width="28" height="28">
            <use href="./images/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>


  </div>
</div>
<!-- ========== /MOBILE MENU ========== -->