<!-- ========== MOBILE MENU ========== -->
<div class="mobile-menu" data-mobile-menu>
  <div class="mobile-menu-container">
    <button class="mobile-menu-close-btn" type="button" data-mobile-menu-close>
      <svg class="close-mobile-icon">
        <use class="close-small" href="./images/icons.svg#close-small" />
        <use class="close-big" href="./images/icons.svg#close-big" />
      </svg>
    </button>

    <nav class="mobile-menu-nav">
      <ul class="nav-list-mobile">
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#about_us">About us</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#our_lessons">Our lessons</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#teachers">Teachers</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#contact_us">Contact us</a>
        </li>
      </ul>
    </nav>

    <ul class="social-mobile">
      <li class="social-item-mobile">
        <a class="icon-item-mobile" href="https://www.facebook.com/goITclub/">
          <svg class="icon" width="28" height="28">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>

      <li class="social-item-mobile">
        <a class="icon-item-mobile" href="https://www.instagram.com/goitclub/">
          <svg class="icon" width="28" height="28">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>

      <li class="social-item-mobile">
        <a class="icon-item-mobile" href="https://www.youtube.com/c/GoIT/">
          <svg class="icon" width="28" height="28">
            <use href="./images/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- ========== /MOBILE MENU ========== -->
