<!-- ========== REVIEWS ========== -->
<section class="section section-reviews" id="reviews">
  <div class="container">
    <h2 class="section-title">
      What our <span class="section-title-underline">students</span> say
    </h2>
    <p class="section-subtitle reviews-subtitle">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>

    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="review-card">
          <div class="review-card__head">
            <div class="review-card__avatar">
              <picture>
                <source
                  type="image/avif"
                  srcset="
                    ./images/reviews/avif/anna-student.avif    1x,
                    ./images/reviews/avif/anna-student@2x.avif 2x
                  "
                />

                <source
                  type="image/webp"
                  srcset="
                    ./images/reviews/webp/anna-student.webp    1x,
                    ./images/reviews/webp/anna-student@2x.webp 2x
                  "
                />
                <img
                  class="reviews-img"
                  srcset="./images/reviews/png/anna-student@2x.png 2x"
                  src="./images/reviews/png/anna-student.png"
                  alt="Anna Student"
                  width="50"
                  height="50"
                  loading="lazy"
                  decoding="async"
                />
              </picture>
            </div>

            <div class="review-card__meta">
              <h3 class="review-card__name">Anna</h3>
              <p class="review-card__role">Student</p>
            </div>
          </div>

          <p class="review-card__text">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </div>
      </li>

      <li class="reviews-item">
        <div class="review-card">
          <div class="review-card__head">
            <div class="review-card__avatar">
              <picture>
                <source
                  type="image/avif"
                  srcset="
                    ./images/reviews/avif/mykhailo_student.avif    1x,
                    ./images/reviews/avif/mykhailo_student@2x.avif 2x
                  "
                />

                <source
                  type="image/webp"
                  srcset="
                    ./images/reviews/webp/mykhailo_student.webp    1x,
                    ./images/reviews/webp/mykhailo_student@2x.webp 2x
                  "
                />
                <img
                  class="reviews-img"
                  srcset="./images/reviews/png/mykhailo_student@2x.png 2x"
                  src="./images/reviews/png/mykhailo_student.png"
                  alt="Mykhailo Student"
                  width="50"
                  height="50"
                  loading="lazy"
                  decoding="async"
                />
              </picture>
            </div>

            <div class="review-card__meta">
              <h3 class="review-card__name">Mykhailo</h3>
              <p class="review-card__role">Student</p>
            </div>
          </div>

          <p class="review-card__text">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </div>
      </li>

      <li class="reviews-item">
        <div class="review-card">
          <div class="review-card__head">
            <div class="review-card__avatar">
              <picture>
                <source
                  type="image/avif"
                  srcset="
                    ./images/reviews/avif/victoria_student.avif    1x,
                    ./images/reviews/avif/victoria_student@2x.avif 2x
                  "
                />

                <source
                  type="image/webp"
                  srcset="
                    ./images/reviews/webp/victoria_student.webp    1x,
                    ./images/reviews/webp/victoria_student@2x.webp 2x
                  "
                />
                <img
                  class="reviews-img"
                  srcset="./images/reviews/png/victoria_student@2x.png 2x"
                  src="./images/reviews/png/victoria_student.png"
                  alt="Victoria Student"
                  width="50"
                  height="50"
                  loading="lazy"
                  decoding="async"
                />
              </picture>
            </div>

            <div class="review-card__meta">
              <h3 class="review-card__name">Victoria</h3>
              <p class="review-card__role">Student</p>
            </div>
          </div>

          <p class="review-card__text">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- ========== /REVIEWS ========== -->
