<!-- ========== TEACHERS ========== -->
<section class="section">
  <div class="container">
    <h2 class="section-title">Meet our <span class="section-title-underline">teachers</span></h2>
    <p class="section-subtitle">Discover our team of dedicated educators, committed to guiding you on your journey to
      English proficiency with personalized and engaging instruction</p>

    <ul class="teachers-list">
      <li class="teachers-item">
        <picture>
          <source type="image/avif" srcset="
      ./images/teachers/avif/maria.avif 1x,
      ./images/teachers/avif/maria@2x.avif 2x
    " />

          <source type="image/webp" srcset="
      ./images/teachers/webp/maria.webp 1x,
      ./images/teachers/webp/maria@2x.webp 2x
    " />

          <img class="teacher-img" src="./images/teachers/png/maria.png" srcset="./images/teachers/png/maria@2x.png 2x"
            width="150" height="150" alt="Maria's photo" loading="lazy" />
        </picture>

        <p class="teacher-name">
          Maria
        </p>
        <p class="teacher-description">
          A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and patience
          to every class
        </p>
      </li>
      <li class="teachers-item">
        <picture>
          <source type="image/avif" srcset="
      ./images/teachers/avif/artem.avif 1x,
      ./images/teachers/avif/artem@2x.avif 2x
    " />

          <source type="image/webp" srcset="
      ./images/teachers/webp/artem.webp 1x,
      ./images/teachers/webp/artem@2x.webp 2x
    " />

          <img class="teacher-img" src="./images/teachers/png/artem.png" srcset="./images/teachers/png/artem@2x.png 2x"
            width="150" height="150" alt="Artem's photo" loading="lazy" />
        </picture>

        <p class="teacher-name">
          Artem
        </p>
        <p class="teacher-description">
          With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping students
          engaged and motivated
        </p>
      </li>
      <li class="teachers-item">
        <picture>
          <source type="image/avif" srcset="
      ./images/teachers/avif/ilona.avif 1x,
      ./images/teachers/avif/ilona@2x.avif 2x
    " />

          <source type="image/webp" srcset="
      ./images/teachers/webp/ilona.webp 1x,
      ./images/teachers/webp/ilona@2x.webp 2x
    " />

          <img class="teacher-img" src="./images/teachers/png/ilona.png" srcset="./images/teachers/png/ilona@2x.png 2x"
            width="150" height="150" alt="Ilona's photo" loading="lazy" />
        </picture>
        <p class="teacher-name">
          Ilona
        </p>
        <p class="teacher-description">
          A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in
          complex language tasks
        </p>
      </li>
      <li class="teachers-item">
        <picture>
          <source type="image/avif" srcset="
      ./images/teachers/avif/volodymyr.avif 1x,
      ./images/teachers/avif/volodymyr@2x.avif 2x
    " />

          <source type="image/webp" srcset="
      ./images/teachers/webp/volodymyr.webp 1x,
      ./images/teachers/webp/volodymyr@2x.webp 2x
    " />

          <img class="teacher-img" src="./images/teachers/png/volodymyr.png"
            srcset="./images/teachers/png/volodymyr@2x.png 2x" width="150" height="150" alt="Volodymyr's photo"
            loading="lazy" />
        </picture>
        <p class="teacher-name">
          Volodymyr
        </p>
        <p class="teacher-description">
          Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and
          industry-specific language needs
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- ========== /TEACHERS ========== -->