<!-- ========== TEACHERS ========== -->
<section class="section">
  <div class="container">
    <h2 class="section-title">Meet our <span class="section-title-underline">teachers</span></h2>
    <p class="section-subtitle">Discover our team of dedicated educators, committed to guiding you on your journey to
      English proficiency with personalized and engaging instruction</p>

    <ul class="teachers-list">
      <li class="teachers-item">
        <img class="teacher-img" srcset="./images/teachers/maria.avif 1x, ./images/teachers/maria@2x.avif 2x"
          src="./images/teachers/maria.avif" width="150" height="150" alt="Maria's photo" />

        <p class="teacher-name">
          Maria
        </p>
        <p class="teacher-description">
          A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and patience
          to every class
        </p>
      </li>
      <li class="teachers-item">
        <img class="teacher-img" srcset="./images/teachers/artem.avif 1x, ./images/teachers/artem@2x.avif 2x"
          src="./images/teachers/artem.avif" width="150" height="150" alt="Artem's photo" />

        <p class="teacher-name">
          Artem
        </p>
        <p class="teacher-description">
          With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping students
          engaged and motivated
        </p>
      </li>
      <li class="teachers-item">
        <img class="teacher-img" srcset="./images/teachers/ilona.avif 1x, ./images/teachers/ilona@2x.avif 2x"
          src="./images/teachers/ilona.avif" width="150" height="150" alt="Ilona's photo" />
        <p class="teacher-name">
          Ilona
        </p>
        <p class="teacher-description">
          A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in
          complex language tasks
        </p>
      </li>
      <li class="teachers-item">
        <img class="teacher-img" srcset="./images/teachers/volodymyr.avif 1x, ./images/teachers/volodymyr@2x.avif 2x"
          src="./images/teachers/volodymyr.avif" width="150" height="150" alt="Volodymyr's photo" />
        <p class="teacher-name">
          Volodymyr
        </p>
        <p class="teacher-description">
          Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and
          industry-specific language needs
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- ========== /TEACHERS ========== -->