/* ========== ABOUT US ========== */
/* .about-text{} */

/* .about-list{} */

/* .about-li{} */

/* .cont-img{
  background-color: #4DC274;
}

.memoji{
  width: 254px;
  height: 211px;
} */

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1280px) {

}
/* ========== /ABOUT US ========== */