/* ========== ADVANTAGES ========== */

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

.proposal-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: linear-gradient(90deg, #4dc274, #bee8cc);
}

.title {
  max-width: 776px;
  margin-top: 64px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.16;
  letter-spacing: 0em;
  color: var(--bg-color-primary);
  margin-left: 64px;
}

.high-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.16;
  letter-spacing: 0em;
  color: #bee8cc;
}

.proposal-card {
  max-width: 1104px;
  background-color: var(--bg-color-secondary);
}

.proposal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1024px;
  border-radius: 30px;
  background-color: var(--bg-color-primary);
  display: flex;
  gap: 40px;
  align-items: center;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  margin-top: 60px;
  margin-left: 50px;
  margin-bottom: 142px;
}

.proposal-caption {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-top: 64px;
  margin-bottom: 16px;
}

.proposal-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.proposal-item {
  position: relative;
  padding-left: 40px;
  line-height: 1.5;
}

/* іконка */
.proposal-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 24px;
  height: 24px;
  background-image: url('../images/icons.svg#icon-active');
  background-repeat: no-repeat;
  background-size: contain;
}

.proposal-btn {
  display: inline-block;
  background: var(--bg-color-secondary);
  color: var(--bg-color-primary);
  padding: 14px 28px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.proposal-btn:hover {
  background: #3cab5d;
}

/* ========== /ADVANTAGES ========== */
