/* ========== ADVANTAGES ========== */
.container {
  padding-left: 0px;
  padding-right: 0px;
}

.proposal-container {
  background: linear-gradient(80deg, rgb(77 194 116), rgb(129 201 153 / 0.5));
  border-radius: 16px;
}

.proposal-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .proposal-container {
    padding-bottom: 30px;
  }
  .proposal-content {
    max-width: 296px;
  }

  .proposal-title {
    padding-top: 40px;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.05;
    padding-left: 20px;
    color: rgb(var(--text-color-secondary));
  }

  .proposal-high-title {
    color: #bee8cc;
  }

  .proposal-box {
    background: url(../images/proposal-box/proposal-box:mob@1x.png) no-repeat
      center/contain;
    min-height: 456px;
    padding: 0 36px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    left: -10px;
  }
  .proposal-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .proposal-caption {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: rgb(18 20 23);
    margin-top: 15px;
  }

  .proposal-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
  }

  .proposal-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .proposal-block {
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: rgb(255 255 255);
    fill: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(77 194 116);
  }

  .proposal-icon {
    height: 20px;
    width: 20px;
  }
  .proposal-check-tablet {
    display: none;
  }

  .proposal-image {
    display: none;
  }
  .proposal-paragraph {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.02em;
    padding: 0;
    color: rgb(18 20 23);
  }

  .btn-proposal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    border-radius: 12px;
    padding: 14px 0;
    margin-top: 15px;
    color: rgb(255 255 255);
    background-color: rgb(77 194 116);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-proposal:hover,
  .btn-proposal:focus {
    background: rgb(56 174 95);
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) and (min-resolution: 192dpi),
  (min-width: 375px) and (max-width: 767px) and (min-resolution: 2dppx),
  (min-width: 375px) and (max-width: 767px) and (min-device-pixel-ratio: 2) {
  .proposal-box {
    background: url(../images/proposal-box/proposal-box:mob@2x.png) no-repeat
      center/contain;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .proposal {
    padding-left: 0px;
    padding-right: 0px;
  }
  .proposal-content {
    max-width: unset;
  }
  .proposal-container {
    margin: 0 auto;
    padding-bottom: 20px;
    max-width: 335px;
  }
  .proposal-box {
    min-height: 496px;
    padding: 0 36px;
  }

  .proposal-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 1.05;
    padding-left: 20px;
    color: rgb(var(--text-color-secondary));
  }

  .proposal-high-title {
    color: #bee8cc;
  }

  .proposal-content {
    margin-top: 20px;
    max-width: 296px;
  }

  .proposal-caption {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: rgb(18 20 23);
    margin-top: 80px;
  }

  .proposal-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
  }

  .proposal-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .proposal-block {
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: rgb(255 255 255);
    fill: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(77 194 116);
  }

  .proposal-icon {
    height: 20px;
    width: 20px;
  }
  .proposal-check-tablet {
    display: none;
  }

  .proposal-image {
    display: none;
  }
  .proposal-paragraph {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.02em;
    padding: 0;
    color: rgb(18 20 23);
  }

  .btn-proposal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    border-radius: 12px;
    padding: 14px 0;
    margin-top: 20px;
    color: rgb(255 255 255);
    background-color: rgb(77 194 116);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-proposal:hover,
  .btn-proposal:focus {
    background: rgb(56 174 95);
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0;
    padding-bottom: 30px;
  }

  .proposal-container {
    margin: 0 auto;
    border-radius: 30px;
    max-width: 704px;
  }

  .proposal-box {
    background: url(../images/proposal-box/proposal-box:tab@1x.png) no-repeat
      center/auto;
    background-position: calc(50% + 5px) center;
    display: flex;
    align-items: center;
    min-height: 607px;
    padding-left: 50px;
    position: relative;
  }

  .proposal-title {
    letter-spacing: 0;
    font-size: 60px;
    line-height: 1.17;
    padding-top: 64px;
    padding-left: 32px;
    margin-bottom: 32px;
    color: rgb(var(--text-color-secondary));
  }

  .proposal-high-title {
    color: #bee8cc;
  }

  .proposal-content {
    position: relative;
    overflow: visible;
    max-width: 668px;
    height: 500px;
    border-radius: 30px;
  }

  .proposal-caption {
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: rgb(18 20 23);
    margin-top: 63px;
    font-size: 40px;
    margin-bottom: 32px;
  }

  .proposal-list {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  .proposal-item {
    width: 451px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .proposal-block {
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: rgb(255 255 255);
    fill: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: rgb(77 194 116);
  }

  .proposal-icon {
    height: 20px;
    width: 20px;
  }

  .proposal-check-mobile {
    display: none;
  }

  .proposal-check-tablet {
    display: inline;
  }

  .proposal-paragraph {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    padding: 0;
    color: rgb(18 20 23);
    font-size: 20px;
  }

  .btn-proposal {
    margin-bottom: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    max-width: 306px;
    color: rgb(255 255 255);
    background-color: rgb(77 194 116);
    border-radius: 12px;
    padding: 16px 0px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .proposal-image {
    position: absolute;
    top: 35%;
    left: 100%;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx),
  (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .proposal-box {
    background: url(../images/proposal-box/proposal-box:tab@2x.png) no-repeat
      center/cover;
    background-position: calc(50% + 5px) center;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0;
  }

  .proposal-container {
    margin: 0 auto;
    padding-bottom: 69px;
    max-width: 1152px;
  }

  .proposal-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 40px;
    padding-left: 64px;
    width: 830px;
  }

  .proposal-box {
    background: url(../images/proposal-box/proposal-box:desc@1x.png) no-repeat
      center/cover;
    justify-content: start;

    margin: 0 auto;
    min-height: 607px;
    max-width: 1104px;
    position: relative;
  }

  .proposal-content {
    padding-left: 64px;
    margin-top: 0;
  }

  .proposal-caption {
    margin-top: 64px;
    margin-bottom: 40px;
  }

  .proposal-list {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 39px;
  }

  .proposal-item {
    width: 654px;
  }

  .proposal-image {
    position: absolute;
    top: 26%;
    left: 120%;
  }

  .btn-proposal {
    align-items: center;
  }

  @media screen and (min-width: 1280px) and (min-resolution: 192dpi),
    (min-width: 1280px) and (min-resolution: 2dppx),
    (min-width: 1280px) and (min-device-pixel-ratio: 2) {
    .proposal-box {
      background: url(../images/proposal-box/proposal-box:desc@2x.png) no-repeat
        center/cover;
      left: -10px;
    }
  }
}

/* ========== /ADVANTAGES ========== */
