/* ========== ADVANTAGES ========== */

.proposal-container {
  width: clamp(278px, calc(100vw - 40px), 335px);
  min-height: 737px;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(90deg, rgb(77 194 116), rgb(190 232 204/0.5));
  padding-top: 40px;
  padding-bottom: 64px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05;
  width: clamp(240px, calc(100vw - 40px), 295px);
  letter-spacing: 0em;
  color: rgb(255 255 255);
  padding: 0;
}

.high-title {
  color: #bee8cc;
}

.proposal-content {
  min-height: 408px;
  position: relative;
  background-color: rgb(255 255 255);
  border-radius: 16px;
  padding: 20px;
  margin-top: 65px;
  padding-top: 40px;
  padding-left: 19px;
  z-index: 10;
}

.proposal-caption {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgb(18 20 23);
}

.proposal-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.proposal-item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.proposal-block {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: rgb 255 255 255;
  fill: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(77 194 116);
}

.proposal-icon {
  height: 20px;
  width: 20px;
}
.proposal-check-tablet {
  display: none;
}

.proposal-image {
  display: none;
}
.proposal-paragraph {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: -0.02em;
  padding: 0;
  color: rgb(18 20 23);
}

.btn-proposal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  width: 100%;
  height: 52px;
  border-radius: 12px;
  border: none;
  padding: 14px 58px;
  margin-top: 20px;
  color: rgb(255 255 255);
  background-color: rgb(77 194 116);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-proposal:hover,
.btn-proposal:focus {
  background: rgb(56 174 95);
}

.decor-1 {
  z-index: 7;
  position: absolute;
  display: flex;
  max-width: 295px;
  max-height: 408px;
  width: 100%;
  height: 100%;
  top: 36%;
  left: 7%;
  transform: rotate(-9deg);
  border-radius: 16px;
  background: rgb(212 253 225);
}

.decor-2 {
  z-index: 6;
  position: absolute;
  display: flex;
  max-width: 295px;
  max-height: 408px;
  width: 100%;
  height: 100%;
  top: 36%;
  left: 7%;
  transform: rotate(11deg);
  border-radius: 16px;
  background: rgb(255 255 255/0.5);
}

@media screen and (min-width: 768px) {
  .proposal-container {
    width: 704px;
    min-height: 950px;
    padding-top: 64px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 93px;
    border-radius: 30px;
  }

  .title {
    font-size: 60px;
    line-height: 1.17;
    width: 640px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .proposal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;

    max-width: 668px;
    height: 500px;
    border-radius: 30px;
    padding-top: 65px;
    padding-left: 32px;
    padding-bottom: 63px;
    margin-top: 83px;
  }

  .proposal-caption {
    font-size: 40px;
    padding: 0;
  }

  .proposal-list {
    max-width: 451px;
    margin-top: 32px;
  }

  .proposal-item {
    gap: 16px;
  }

  .proposal-item {
    display: flex;
    align-items: center;
  }

  .proposal-block {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
  }

  .proposal-icon {
    height: 20px;
    width: 20px;
  }

  .proposal-check-mobile {
    display: none;
  }

  .proposal-check-tablet {
    display: inline;
  }

  .proposal-paragraph {
    font-size: 20px;
    line-height: 1.2;
  }

  .proposal-image {
    display: block;
    position: absolute;
    top: 35%;
    left: 75%;
  }

  .btn-proposal {
    width: 306px;
    max-height: 60px;
    padding: 16px 64px;
    margin-top: 32px;
    font-size: 18px;
    line-height: 1.55;
  }

  .decor-1 {
    max-width: 668px;
    max-height: 500px;
    top: 38%;
    left: 2.5%;
    border-radius: 30px;
  }
  .decor-2 {
    max-width: 668px;
    max-height: 500px;
    top: 38%;
    left: 3.5%;
    border-radius: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .proposal-container {
    min-height: 950px;
    width: 1152px;
    padding-top: 77px;
    padding-bottom: 142px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .title {
    width: 776px;
  }

  .proposal-content {
    max-width: 1024px;
    height: 471px;
    padding-left: 64px;
    margin-top: 133px;
  }

  .proposal-list {
    max-width: 654px;
    gap: 20px;
    margin-top: 40px;
  }
  .proposal-image {
    top: 26%;
    left: 79%;
  }
  .btn-proposal {
    align-items: center;
    margin-top: 39px;
  }
  .decor-1 {
    max-width: 1050px;
    max-height: 463px;
    top: 38%;
    left: 3.5%;
  }
  .decor-2 {
    max-width: 1011px;
    max-height: 402px;
    top: 40%;
    left: 5.5%;
  }
}

/* ========== /ADVANTAGES ========== */
