/* ========== APPLICATION ========== */

 .application-subtitle {
     font-size: 14px;
     line-height: 1.71;
     text-align: center;
     margin: 0 auto 20px;
 }

@media screen and (min-width: 768px) {

.application-subtitle {
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    max-width: 586px;
    margin: 0 auto 64px;
  }

}

@media screen and (min-width: 1280px) {

 .application-subtitle {
    max-width: 709px;
 }

 .application-card {
    display: flex;
    column-gap: 32px;
    max-width: 1024px;
    min-height: 766px;
    margin: 0 auto;
 }

 .application-card-left {
   width: 492px;
   height: 578px;
   border-radius: 30px;
   overflow: hidden;
   background-color: #4dc274;
 }
 
 .application-left-img {
  margin-bottom: 20px;
 }

 .application-left-first-sub {
      font-weight: 700;
      font-size: 40px;
      line-height: 1.2;
      letter-spacing: -0.02em;
      text-align: center;
      color: #ffffff;
      margin-bottom: 8px;
 }
  
 .application-left-second-sub {
    line-height: 1.50;
    text-align: center;
    color: #ffffff;
    padding: 0 20px;
 }

 .application-card-right {
  width: 500px;
  height: 578px;
 }

 .application-first-container-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
 }

 

 .application-right-input {
  width: 100%;
  height: 56px;
  border: 1px solid #1214171a;
  border-radius: 12px;
  padding: 16px 18px 16px 18px;
  
 }

 .application-right-input::placeholder {
  color: #121417;
 }


 .application-right-input:valid {
  border-color: green;
 }


 .application-right-textarea {
  width: 100%;
  height: 104px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px 64px 18px;
  resize: none;
 }

 .application-right-textarea::placeholder {
  color: #121417;
 }

 .application-right-fieldset {
  padding: 0;
  margin: 0 0 32px;
  border: none;
 }

 .application-choose-title {
   font-weight: 600;
   font-size: 20px;
   line-height: 1.20;
   letter-spacing: -0.02em;
   color: #121417;
   margin-bottom: 16px;
 }

 .application-radio-choose {
   font-size: 18px;
   line-height: 1.33;
   letter-spacing: -0.02em;
   color: #121417;
   margin-right: 16px;
 }

 .application-custom-radio input[type="radio"] {
   display: none;
 }

 .application-custom-radio .application-radio-btn {
   display: inline-block;
   width: 18px;
   height: 18px;
   border: 2px solid #12141740;
   border-radius: 50%;
   margin-right: 8px;
   vertical-align: -12%;
   position: relative;
   transition: border-color 0.3s, background-color 0.3s;
 }

 .application-custom-radio input[type="radio"]:checked+.application-radio-btn::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 9px;
   height: 9px;
   background-color: #4dc274;
   border-radius: 50%;
 }

 .application-custom-radio input[type="radio"]:checked+.application-radio-btn {
   border-color: #4dc274;
 }

 .application-custom-radio:hover .application-radio-btn {
   border-color: #4dc274;
 }

 .application-right-btn {
   width: 100%;
   height: 60px;
   border-radius: 12px;
   border: none;
   background-color: #4dc274;
   color: #ffffff;
   margin-bottom: 16px;
 }

 .application-txt-agreement {
   font-size: 14px;
   line-height: 1.71;

 }

 .application-link-agreement {
   text-decoration: underline;
 }

 .application-span-agreement {
   display: block;
 }
 
 
}


/* ========== /APPLICATION ========== */