/* ========== COMMON ========== */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  color: rgb(var(--text-color-primary) / 0.5);
  background-color: rgb(var(--bg-color-primary));
  font-size: 14px;
  line-height: 1.71;
}

body.is-menu-open {
  overflow: hidden;
  touch-action: none;
  height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section[id] {
  scroll-margin-top: 50px;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-title {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.13;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgb(var(--text-color-primary));
}

.section-subtitle {
  line-height: 1.7;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.section-title-underline {
  position: relative;
  display: inline-block;
}

.section-title-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 12px;
  background-color: rgb(190 232 204);
  border-radius: 8px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }

  section[id] {
    scroll-margin-top: 50px;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-title {
    margin-bottom: 16px;

    font-size: 40px;
    line-height: 1.2;
  }

  .section-title-underline::after {
    bottom: -3px;
    height: 20px;
  }

  .section-subtitle {
    font-size: 18px;
    max-width: 704px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .container {
    max-width: 1280px;
    padding-left: 128px;
    padding-right: 128px;
  }
}

.btn {
  display: inline-block;
  margin: 0 auto;
  min-width: min(295px, 100%);
  min-height: 52px;
  border-radius: 12px;
  padding: 14px;
  background-color: rgb(var(--bg-color-secondary));
  border: none;
  outline: none;

  /* Font */
  text-align: center;
  font-weight: 700;
  color: rgb(var(--text-color-secondary));

  transition: background-color var(--transition-duration-and-func);
}

.btn:hover,
.btn:focus {
  background-color: rgb(var(--bg-color-dark-green));
}

@media screen and (min-width: 768px) {
  .btn {
    max-width: min(306px, 100%);
    min-height: 60px;
    padding: 16px;

    /* Font */
    font-size: 18px;
    line-height: 1.55;
  }
}

.btn--outline {
  background-color: transparent;
  border: 1px solid rgb(var(--text-color-secondary) / 0.4);

  transition:
    background-color var(--transition-duration-and-func),
    color var(--transition-duration-and-func);
}

.btn--outline:hover,
.btn--outline:focus {
  background-color: rgb(var(--text-color-secondary));
  color: rgb(var(--text-color-accent));
}

/* ========== /COMMON ========== */
