/* ========== FOOTER ========== */

.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: rgb(var(--bg-color-footer));
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  color: rgb(var(--text-color-secondary));
  margin-bottom: 20px;
}

.footer-logo span {
  color: rgb(var(--bg-color-secondary));
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgb(var(--text-color-secondary) / 0.54);
  margin-bottom: 4px;
}

.footer-phone,
.footer-address {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: rgb(var(--text-color-secondary));
}

.footer-social {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 10px;
  border: 1px solid rgb(var(--text-color-secondary) / 0.1);
  fill: rgb(var(--text-color-secondary) / 0.8);

  transition:
    border var(--transition-duration-and-func),
    fill var(--transition-duration-and-func);
}

.footer-social-link:hover,
.footer-social-link:focus {
  border-color: rgb(var(--bg-color-secondary) / 0.2);
  fill: rgb(var(--bg-color-secondary));
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-nav-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: rgb(var(--text-color-secondary));
}

.footer-divider {
  border: none;
  height: 1px;
  background-color: rgba(var(--text-color-secondary) / 0.1);
  margin: 0 0 20px 0;
}

.footer-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgb(var(--text-color-secondary) / 0.54);
}

.footer-copyright {
  margin-right: auto;
  margin-bottom: 14px;
}

.footer-doc-link:not(:last-child) {
  margin-right: 18px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 110px;
  }

  .footer-nav {
    margin: 0;
  }

  .footer-divider {
    margin-bottom: 16px;
  }

  .footer-bottom {
    display: flex;
  }

  .footer-copyright {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 23px;
  }

  .footer-content {
    margin-bottom: 64px;
  }

  .footer-divider {
    margin-bottom: 23px;
  }
}
/* ========== /FOOTER ========== */
