/* ========== HEADER ========== */

.container-header {
  display: flex;
  justify-content: space-between;

  justify-content: space-between;
}

.logo {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.35;
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #121417;
}

.logo .logo-part {
  font-weight: 700;
  font-size: 20px;
  color: rgb(77 194 116);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list-header {
  display: none;
}

.social-header {
  display: none;
}

.burger-btn {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  margin-right: 20px;
  fill: none;
  stroke: rgb(18 20 23);
  background-color: transparent;
  border: none;
}

.burger-icon {
  display: block;
  width: 32px;
  height: 32px;
}

.burger-icon-tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 32px;
    padding-top: 20.5px;
    padding-bottom: 20.5px;
  }

  .burger-icon {
    width: 40px;
    height: 28px;
  }
  .burger-icon-mobile {
    display: none;
  }
  .burger-icon-tablet {
    display: inline;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    padding-top: 28.5px;
    padding-bottom: 28.5px;
  }

  .nav-list-header {
    margin-left: 138px;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    color: rgb(18 20 23);
    gap: 20px;
  }

  .nav-link-header {
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .nav-link-header.current::after {
    content: '';
    width: 37px;
    height: 2px;
    position: absolute;
    background-color: rgb(77 194 116);
    left: 0;
    bottom: 29px;
  }

  .nav-link-header.current {
    position: relative;
  }

  .social-header {
    display: flex;
    gap: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .icon-header:hover,
  .icon-header:focus {
    fill: rgb(77 194 116);
    border: rgb(77 194 116);
    /* fill: var(--bg-color-secondary); */
  }

  .social-item-header {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 44px;
    height: 44px;
  }

  .icon-header {
    fill: #121417;
  }

  .burger-btn {
    display: none;
  }
}
/* ========== /HEADER ========== */
