/* ========== HERO ========== */

.hero-section {
  /* margin-top: 75px; */
  position: relative;
  width: calc(100% - 40px);
  max-width: 335px;
  padding-top: 425px;
  padding-bottom: 72px;

  /* fallback */
  background-image: url('../images/hero/bg-hero-mobile.jpg');

  background-image: image-set(
    url('../images/hero/avif/bg-hero-mobile.avif') type('image/avif') 1x,
    url('../images/hero/avif/bg-hero-mobile@2x.avif') type('image/avif') 2x,
    url('../images/hero/webp/bg-hero-mobile.webp') type('image/webp') 1x,
    url('../images/hero/webp/bg-hero-mobile@2x.webp') type('image/webp') 2x,
    url('../images/hero/bg-hero-mobile.jpg') type('image/jpeg') 1x,
    url('../images/hero/bg-hero-mobile@2x.jpg') type('image/jpeg') 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 16px;
}

/* Tablet  */
@media screen and (min-width: 768px) {
  .hero-section {
    /* margin-top: 100px; */
    padding-top: 260px;
    padding-bottom: 295px;
    max-width: 704px;

    /* fallback */
    background-image: url('../images/hero/bg-hero-tablet.jpg');

    background-image: image-set(
      url('../images/hero/avif/bg-hero-tablet.avif') type('image/avif') 1x,
      url('../images/hero/avif/bg-hero-tablet@2x.avif') type('image/avif') 2x,
      url('../images/hero/webp/bg-hero-tablet.webp') type('image/webp') 1x,
      url('../images/hero/webp/bg-hero-tablet@2x.webp') type('image/webp') 2x,
      url('../images/hero/bg-hero-tablet.jpg') type('image/jpeg') 1x,
      url('../images/hero/bg-hero-tablet@2x.jpg') type('image/jpeg') 2x
    );

    border-radius: 30px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .hero-section {
    max-width: 1152px;
    padding-top: 164px;
    padding-bottom: 163px;

    /* fallback */
    background-image: url('../images/hero/bg-hero-desktop.jpg');

    background-image: image-set(
      url('../images/hero/avif/bg-hero-desktop.avif') type('image/avif') 1x,
      url('../images/hero/avif/bg-hero-desktop@2x.avif') type('image/avif') 2x,
      url('../images/hero/webp/bg-hero-desktop.webp') type('image/webp') 1x,
      url('../images/hero/webp/bg-hero-desktop@2x.webp') type('image/webp') 2x,
      url('../images/hero/bg-hero-desktop.jpg') type('image/jpeg') 1x,
      url('../images/hero/bg-hero-desktop@2x.jpg') type('image/jpeg') 2x
    );
  }
}

.hero-container {
  position: relative;
}

.hero-title {
  margin-bottom: 40px;
  font-size: 38px;
  line-height: 1.05;
  color: rgb(var(--text-color-secondary));
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 1.16;
    max-width: 488px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    max-width: 564px;
  }
}

.hero-title > span {
  color: rgb(var(--text-color-light-green));
}

.btn-nav-down {
  position: absolute;
  bottom: 14px;
  right: 14px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--text-color-secondary));
  color: rgb(var(--bg-color-secondary));
  border-radius: 50%;
  border: none;
  transition:
    background-color var(--transition-duration-and-func),
    color var(--transition-duration-and-func);
}

.btn-nav-down .icon {
  width: 20px;
  height: 20px;
}

.btn-nav-down:hover {
  background-color: rgb(var(--bg-color-secondary));
  color: rgb(var(--text-color-secondary));
}

@media screen and (min-width: 768px) {
  .btn-nav-down {
    bottom: 32px;
    right: 32px;
    width: 48px;
    height: 48px;
  }

  .btn-nav-down .icon {
    width: 24px;
    height: 24px;
  }
}

/* ========== /HERO ========== */
