/* ========== OUR LESSONS ========== */

.lessons-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.lessons-item {
  width: 100%;
  max-width: 336px;
}

.lesson-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
  border-radius: 16px;
  background-color: rgb(var(--bg-color-primary));
  border: 1px solid rgb(var(--bg-color-secondary));
  text-align: center;
}

.lesson-card__header {
  margin-bottom: 24px;
}

.lesson-card__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgb(var(--text-color-primary));
}

.lesson-card__price {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: rgb(var(--text-color-primary));
}

.lesson-card__text {
  flex-grow: 1;
  margin-bottom: 32px;
  color: rgb(var(--text-color-primary) / 0.5);
  font-size: 14px;
  line-height: 1.71;
}

.lesson-card--accent {
  background-color: rgb(var(--bg-color-secondary));
  border-color: rgb(var(--bg-color-secondary));
}

.lesson-card--accent .lesson-card__title,
.lesson-card--accent .lesson-card__price {
  color: rgb(var(--text-color-secondary));
}

.lesson-card--accent .lesson-card__text {
  color: rgb(var(--text-color-secondary) / 0.7);
}

@media screen and (min-width: 768px) {
  .lessons-list {
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .lessons-list {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .lessons-item {
    width: 336px;
  }
}
/* ========== /OUR LESSONS ========== */