/* Common styles */
/* @import url('./debug.css'); */
@import 'modern-normalize';

@import url('./variables.css');
@import url('./reset.css');
@import url('./common.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./lessons.css');
@import url('./proposal.css');
@import url('./teachers.css');
@import url('./application.css');
@import url('./reviews.css');
@import url('./footer.css');
@import url('./mobile-menu.css');
