/* ========== MOBILE MENU ========== */
@media screen and (max-width: 1279px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    background-color: rgb(var(--bg-color-primary));

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
      opacity var(--transition-duration-and-func),
      visibility var(--transition-duration-and-func);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: absolute;

    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(77 194 116);
    min-width: 240px;
    min-height: 812px;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    fill: none;
  }

  .close-mobile {
    height: 32px;
    width: 32px;

    color: rgb(255, 255, 255);
  }

  .close-small {
    display: block;
  }

  .close-big {
    display: none;
  }

  .nav-list-mobile {
    display: flex;
    margin-top: 248px;

    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    color: #fff;
  }

  .social-mobile {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 20px;
  }

  .social-item-mobile {
    display: flex;
    justify-content: center;
    fill: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 42px;
    height: 42px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-container {
    width: 384px;
    height: 1000px;
  }

  .close-small {
    display: none;
  }

  .close-big {
    display: inline;
  }

  .close-mobile {
    height: 40px;
    width: 40px;

    display: block;
  }

  .mobile-menu-close-btn {
    top: 20px;
    right: 32px;
    width: 40px;
    height: 40px;
  }

  .social-item-mobile {
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
/* ========== /MOBILE MENU ========== */
