/* ========== MOBILE MENU ========== */
@media screen and (max-width: 1279px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    background-color: rgb(var(--bg-color-primary));

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
      opacity var(--transition-duration-and-func),
      visibility var(--transition-duration-and-func);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    height: 100%;
    /* min-height: 640px; */
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 20px;
    right: 32px;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    /* border-radius: 50%; */
    background-color: transparent;
    border: none;

    stroke: black;
  }

}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
/* ========== /MOBILE MENU ========== */
