/* ========== MOBILE MENU ========== */
@media screen and (min-width: 200px) and (max-width: 1279px) {
  .mobile-menu {
    position: fixed;
    inset: 0;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    z-index: 999;

    background-color: rgba(18 20 23 / 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
      opacity var(--transition-duration-and-func),
      visibility var(--transition-duration-and-func);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    top: 0;
    right: 0;
    min-width: 240px;
    height: 100%;

    background-color: rgb(var(--bg-color-secondary));
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    background-color: transparent;
    border: none;

    fill: none;
    stroke: rgb(255, 255, 255);
  }

  .close-mobile-icon {
    height: 32px;
    width: 32px;
  }

  /* .close-small {
    display: block;
  } */

  .close-big {
    display: none;
  }

  .mobile-menu-nav {
    margin-top: 248px;
  }

  .nav-list-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .nav-link-mobile {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    color: rgb(var(--text-color-secondary));

  }

  .social-mobile {
    display: flex;
    justify-content: center;
    gap: 12px;

    margin-bottom: 20px;
  }

  .social-item-mobile {
    display: flex;
    justify-content: center;
    fill: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 42px;
    height: 42px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mobile-menu-container {
    min-width: 384px;
    /* height: 1000px; */
  }

  /* .close-small {
    display: none;
  } */

  /* .close-big {
    display: inline;
  } */

  .mobile-menu-close-btn {
    top: 20px;
    right: 32px;
    width: 40px;
    height: 40px;
  }

  .close-mobile-icon {
    height: 40px;
    width: 40px;
  }

  .social-item-mobile {
    width: 44px;
    height: 44px;
  }

  .mobile-menu-nav {
    margin-top: 337px;
  }

}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
/* ========== /MOBILE MENU ========== */
