/* ========== REVIEWS ========== */
.reviews-item:not(:first-child) {
  display: none;
}

.reviews-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}

.reviews-item {
  width: 100%;
}

.review-card {
  width: 100%;
  height: 100%;
  padding: 20px 20px 40px 20px;
  border-radius: 16px;
  background-color: rgb(243, 245, 246);

  display: flex;
  flex-direction: column;
}

/* зелена плашка */
.review-card__head {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;
  min-height: 78px;

  padding: 14px;
  margin-bottom: 20px;

  border-radius: 8px;
  background-color: rgb(var(--bg-color-secondary));
}

.review-card__avatar {
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(var(--text-color-secondary) / 0.15);
}

.review-card__avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-card__name {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgb(var(--text-color-secondary));
}

.review-card__role {
  margin: 2px 0 0;
  font-size: 12px;
  line-height: 1.33;
  color: rgb(var(--text-color-secondary) / 0.5);
}

.review-card__text {
  color: rgb(var(--text-color-primary) / 0.5);
  line-height: 1.7;
  max-width: 267px;
  margin: 0 auto;
}

/* ========== TABLET (2 колонки) ========== */
@media screen and (min-width: 768px) {
  .reviews-list {
    justify-content: center;
    gap: 32px;
  }

  .review-card {
    padding: 32px 16px 40px 16px;
    border-radius: 30px;
  }

  .reviews-item:not(:first-child) {
    display: block;
  }

  .review-card__head {
    padding: 14px 16px;
    border-radius: 15px;
    margin-bottom: 32px;
  }

  .review-card__text {
    font-size: 16px;
    line-height: 1.5;
    max-width: 272px;
}

  .reviews-item:nth-child(3) {
    display: none;
  }

  .reviews-item {
    flex-basis: calc((100% - 32px) / 2);
  }
}

/* ========== DESKTOP (3 колонки) ========== */
@media screen and (min-width: 1280px) {
  .reviews-item:nth-child(3) {
    display: block;
  }

  .reviews-item {
    flex-basis: calc((100% - 64px) / 3);
  }
}

/* ========== /REVIEWS ========== */
