/* ========== TEACHERS ========== */

.teachers-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.teacher-img {
  margin: 0 auto;
  margin-bottom: 16px;
}

.teacher-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgb(var(--text-color-primary));

  margin-bottom: 8px;
}

.teacher-description {
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .teachers-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 0px 64px;
  }

  .teachers-item {
    max-width: calc((100% - 32px) / 2);
  }

  .teacher-description {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .teachers-list {
    flex-wrap: nowrap;
    padding: 0px;
  }

  .teachers-item {
    max-width: calc((100% - 32px * 3) / 4);
  }

  .teachers-subtitle {
    margin-left: auto;
    margin-right: auto;
  }
}
/* ========== /TEACHERS ========== */
