/* ========== VARIABLES ========== */
:root {
  --font-primary: "Manrope", sans-serif;

  --text-color-primary: 18 20 23;  /* #121417 */
  --text-color-secondary: 255 255 255; /* #fff; */
  --text-color-light-green: 190 232 204;  /* #bee8cc; */

  --bg-color-primary: 255 255 255;  /* #fff; */
  --bg-color-secondary: 77 194 116;  /* #4dc274; */
  --bg-color-dark-green: 56 174 95;  /* #38ae5f; */

  --bg-color-footer: 18 20 23;  /* #121417; */

  --transition-duration-and-func: 250ms ease-out;
}
/* ========== /VARIABLES ========== */
